:root {
  --text: 1.5rem;
  --lightgray: #efefef;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  height: 100vh;
}

#title-text {
  color: #fff;
}

.site-header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #3e3c3c;
  padding: 0;
  margin: 0;
  top: 0;
  position: fixed;
}

.about-skills > div > h3 {
  margin: 0 0 0 15px;
  padding: 0;
  color: #fff;
}

#title-text > h3 {
  float: left;
  margin: 0;
  padding: 100px;
}

.logo-text {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 1em;
}

#navbar {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar > a.icon {
  display: none;
}

.nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 30px;
  letter-spacing: 4px;
  background-color: #3c3a39;
  background-color: hsl(20, 3%, 23%);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0;
}

.mobile-menu {
  position: relative;
  top: 15%;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 20px;
}

.mobile-menu > #menu-list {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.desktop-version-list > li {
  margin: 2px;
  padding: 0;
}

.about-skills-list > li {
  margin: 10px 0;
  padding: -10px;
}

.project-name > ul > li {
  margin: 0 5px;
  padding: 0 3px;
}

#menu-list > li {
  border-bottom: 1px solid #dfe1e6;
}

.nav {
  color: #dfe1e6;
}

.nav-mobile a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  color: #fff5e1;
}

.card-B-btns > li > a {
  text-decoration: none;
  display: block;
}

.nav-mobile a:hover,
.nav-mobile a:focus {
  color: #fff5e1;
}

.nav-mobile .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#navbar > a {
  display: block;
  width: 70px;
  text-decoration: none;
  height: auto;
  color: white;
  margin: 3px;
}

#navbar > #menu > img {
  width: 22px;
  height: 18px;
}

#home-content {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #1c1a19;
}

.left-content {
  width: 60px;
  height: 100vh;
  color: white;
  margin: 10px 25px 5px 5px;
  padding: 10px 20px 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-version-list {
  list-style-type: none;
  align-self: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 100%;
  min-height: auto;
  margin: 5px 10px 15px 10px;
  padding: 100px 10px 120px 15px;
  flex: 1 1 100%;
}

.name-text {
  color: #f55800;
  font-family: 'Crete Round', sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  margin: 5px 10px 5px 5px;
  align-self: start;
}

.job-title {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 5px 10px 5px 5px;
}

.job-description {
  color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  align-self: start;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  margin-left: 5px;
}

.card-B-btns > ul {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 10px 0;
  list-style: none;
}

.project-name > ul {
  position: relative;
  left: -7px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#skill-text > ul {
  display: flex;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}

.img-icons {
  width: 25px;
  height: 25px;
  margin: 7px;
  background: white;
  border: 0;
}

#social-icons {
  display: none;
}

.right-content {
  width: 100%;
  height: 100vh;
  transform: rotate(-90deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-2deg);
  margin: 0;
  background-image: url("../images/Illustration-headerpic.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 490px;
}

.mobile-image {
  display: none;
}

.btn {
  color: #fff;
  font-size: 1.5rem;
  border: 0;
  background: 0;
}

/* Desktop works section start */

.works {
  display: grid;
  grid-template: repeat(4, 50px auto auto auto) / repeat(12, 1fr);
  background: #fff;
  margin: 20px 118px 130px 118px;
  padding: 10px;
  grid-gap: 3px;
}

#works-title {
  grid-area: 1 / 1 / 2/ 13;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px;
  margin: 10px 0;
  flex: 1 1 100%;
}

#works-title-img {
  width: 700px;
  height: auto;
  padding: 10px 0 10px 10px;
  flex: 1 1 100%;
}

.card-1 {
  grid-area: 2/1/5/13;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: 20px -5px;
  padding: 0;
  justify-content: flex-start;
  align-items: start;
}

#card-1-img {
  width: auto;
  height: 100%;
}

#div-1--right {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex: 1;
  margin: 0 5px 0 15px;
  padding: 5px;
}

.works-title-text {
  font-family: "Crete Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  flex: none;
  margin: 5px 0;
  padding-bottom: 10px;
  padding-left: 0;
  order: 0;
}

#card-1-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: black;
  order: 0;
  flex: 1 1 100%;
  margin: 8px 0 5px 5px;
  padding: 5px 0;
}

#skill-text {
  display: flex;
  width: 297px;
  height: 40px;
  justify-content: start;
  align-items: center;
  order: 1;
  margin: 10px 0;
  padding: 0;
}

#skill-text > ul > li {
  margin: 5px 0;
  padding: 5px;
  align-self: center;
}

.read-text {
  display: inline-block;
  width: auto;
  height: auto;
  text-decoration: none;
  padding: 5px;
  border: 1px solid gray;
  color: black;
  order: 1;
}

.div-1--right-btn {
  background: #f55800;
  width: 124px;
  height: 40px;
  margin: 5px 0 20px 0;
  order: 2;
  color: #fff;
  flex: none;
  cursor: pointer;
  border: 0;
}

.div-1--right-btn:hover {
  background: #000;
  color: #fff;
}

.card-2 {
  grid-area: 5/1/8/13;
  display: flex;
  flex: 1 1 100%;
}

.card-2-1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 400px;
  height: 450px;
  margin: 0 10px 5px 0;
  padding: 3px;
}

#card-B {
  display: flex;
  flex-direction: column;
  background: url("../images/card-B.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 100%;
}

.btn-2 {
  height: 47px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border-style: none;
}

.card-B-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  background: black;
  opacity: 0.6;
  padding: 20px 10px;
}

.card-B-box > h4 {
  text-align: left;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  color: white;
  margin-bottom: 3px;
}

.card-B-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: white;
}

.btns-3 {
  width: auto;
  margin: 4px;
  height: 40px;
  background: gray;
  opacity: 0.9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 15px;
  text-decoration: none;
}

.btns-3:hover {
  background: #fff;
  color: black;
}

.card-B-btns {
  display: flex;
  justify-content: start;
  width: auto;
  height: auto;
  list-style: none;
}

#card-C {
  display: flex;
  flex-direction: column;
  background: url("../images/card-c.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
}

#card-D {
  display: flex;
  flex-direction: column;
  background: url("../images/card-2-img1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
}

#card-E {
  display: flex;
  flex-direction: column;
  background: url("../images/card-B.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
}

#card-F {
  display: flex;
  flex-direction: column;
  background: url("../images/card-c.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
}

#img-1 {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card-3 {
  grid-area: 8/1/13/13;
  display: flex;
  flex: 1 1 100%;
}

/* Desktop works section end */

/*  Desktop about section start  */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: #1c1a19;
  background-image: url("../images/about.svg");
  background-size: auto 350px;
  background-repeat: no-repeat;
  background-position: right center;
  margin: 20px 0 10px;
  padding: 40px 60px;
}

.about-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100%;
  margin: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 100px;
}

.about-text > h2 {
  color: #f55800;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 20px;
}

#about-para {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin: 0 20px 20px 10px;
  padding-right: 50px;
}

#btn-about {
  color: white;
  border-radius: 0;
  border: 0;
}

.div-seperator {
  margin: 5px;
  padding-left: 45px;
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#divider {
  width: 1156px;
  height: 1px;
  align-self: flex-end;
  text-align: center;
}

.about-skills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: start;
  padding: 0 20px;
  margin: 20px 0;
}

.about-skills-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  color: white;
  list-style: none;
  margin: 5px;
  padding-left: 0;
}

.about-skills > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 100px;
}

.about-skills > div > .style-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 30px;
  padding: 5px;
  color: #fff;
}

.img-3 {
  width: 10px;
  height: 15px;
  margin: 3px;
}

/*  Desktop about ends */

/* Desktop contact form start */

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 20px;
  padding: 100px 50px 20px;
}

#form-1 {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(400px, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  grid-column-gap: 40px;
  padding-left: 20px;
  justify-content: start;
  align-self: stretch;
}

#contact-form-text {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  padding: 0 10px;
  margin: 0 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

::placeholder {
  color: #000;
}

#form-field-container {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(1.5em, auto);
  grid-column-gap: 10px;
}

#form-field-container > #fname {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 40px;
  margin: 2px 4px;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#form-field-container > #lname {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  height: 40px;
  margin: 2px 4px;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#form-field-container > input[type=email] {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  height: 40px;
  margin: 2px 0;
  padding: 0;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#form-field-container > input[type=email]:hover,
input[type=text]:hover {
  padding-top: 10px;
  transition-duration: 0.2s;
}

#form-comments-section {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#comments {
  margin: 2px 0;
  padding-top: 3px;
  padding-left: 3px;
  border: none;
  padding-bottom: 3.5em;
  font-size: 17px;
  background: #fbf8f7;
  align-self: stretch;
}

#btn-5 {
  height: 40px;
  color: white;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 700;
}

/* footer section starts */
#footer-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-top: 2px solid lightgray;
  margin-top: 400px;
  margin-bottom: 0;
  padding: 0;
}

#footer-section > ul {
  display: flex;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

#footer-section > ul > li {
  float: left;
}

#divider-1 {
  display: none;
}

/* popup dialog styling */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  cursor: pointer;
  z-index: 5;
}

.modal-dialog {
  position: relative;
  max-width: 80%;
  max-height: 100vh;
  overflow: hidden;
  background: #fff;
  cursor: default;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modal-dialog > * {
  padding: 1rem;
}

.title-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  align-items: center;
  font-size: var(--text);
}

.mains {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.project-img {
  width: 650px;
  height: 448px;
}

.left-div {
  padding-top: 0;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 0 20px;
  padding: 0;
}

.live-section {
  margin-top: 43px;
}

.live-section > button {
  margin: 0 10px 0 0;
}

.project-details {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  top: -19px;
}

.header-title {
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.close-modal {
  font-size: var(--text);
  margin-left: auto;
  cursor: pointer;
  border: 0;
  background: 0;
  color: lightgray;
}

.modal p + p {
  margin-top: 1rem;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.live-image {
  width: 10px;
  height: 10px;
  background: 0;
}

/* popup dialog styling ends */

@media All And (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: stretch;
    align-items: center;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .site-header {
    width: 100%;
    overflow: hidden;
    background: #333;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
  }

  .style-1 > h3 {
    font-family: "Inaimathi", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }

  #title-text > h3 {
    margin: 2px;
    padding: 10px 35px;
  }

  .logo-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    left: -10px;
    font-weight: 700;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
  }

  .site-header > a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #navbar > a.icon {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    color: white;
    font-size: 17px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  #navbar a.icon:hover {
    color: #f55800;
  }

  .site-header > #navbar > a.nav-links,
  #menu {
    display: none;
  }

  .nav-mobile a { font-size: 32px; }

  .closebtn {
    margin: 0;
    position: relative;
    top: 0;
    right: 5px;
  }

  .nav-mobile .closebtn {
    font-size: 32px;
    top: 15px;
    right: 35px;
    font-weight: 700;
  }

  #mobile-menu #menu-list {
    color: #fff5e1;
    width: 100%;
  }

  #home-content {
    width: auto;
    height: auto;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: calc(100vw - 5px);
    height: 100vh;
    background-image: url("../images/Illustration-headerpic.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 300px;
    margin-right: 0;
    padding: 40px 30px 5px 20px;
  }

  .name-text {
    font-family: Crete Round, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    margin-bottom: 3px;
  }

  .job-title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin: 5px 0;
    padding: 5px;
    align-self: flex-start;
  }

  .job-description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 20px 5px 0;
    padding: 0 20px 5px 8px;
  }

  .left-content {
    display: none;
  }

  .right-content {
    display: none;
  }

  #social-icons {
    display: flex;
    justify-content: start;
    align-self: flex-start;
    width: 200px;
    height: 40px;
    padding: 2px 0;
    margin: 0;
  }

  #social-icons > ul {
    display: flex;
    justify-content: start;
    margin-left: 0;
    padding: 0 5px;
    flex: 1 1 25%;
  }

  .list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .img-icons {
    background: 0;
    border: 0;
    margin: 5px;
  }

  /*  Mobile version Works section start */
  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 auto;
  }

  #works-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 10px auto;
  }

  #works-title-text-1 {
    align-self: start;
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: black;
    letter-spacing: 0;
    margin: 2px 0;
    padding: 2px 0;
  }

  .works-title-text {
    align-self: center;
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: black;
    letter-spacing: 0;
    margin: 2px 0;
    padding: 4px 2px;
  }

  #works-title-img {
    display: block;
    width: 100%;
    height: 237px;
  }

  .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
    margin: 10px auto;
  }

  .style-1 > img {
    margin: 0;
  }

  #div-1--left > img {
    width: 93%;
    height: auto;
  }

  #div-1--left {
    width: 100%;
    height: auto;
  }

  #div-1--right {
    width: 100%;
    height: auto;
    align-self: start;
  }

  #card-1-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 0;
    margin: 10px auto;
  }

  .card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .card-2-1 {
    width: 100%;
    height: auto;
  }

  /* modal popup mobile */

  .modal-dialog {
    overflow-y: auto;
  }

  .header-title {
    justify-content: center;
  }

  .mains {
    flex-direction: column;
    align-items: center;
  }

  .right-div {
    padding-top: 30px;
  }

  .live-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .project-details {
    text-align: justify;
  }

  .project-img {
    display: block;
    width: 95%;
    height: auto;
    margin: 0 auto;
  }

  /* modal popup mobile end */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    background: #1c1a19;
  }

  .about-text {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px 50px 50px 0;
  }

  .about-text > h2 {
    padding: 10px 0 0 5px;
    margin: 20px 0;
    text-align: left;
    align-self: start;
  }

  .about-text > button {
    align-self: start;
    width: 161px;
    height: 48px;
    border: 0;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  #about-para {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin: 20px 0;
    padding: 0;
    align-self: start;
  }

  .div-seperator {
    margin: 5px 0;
    width: auto;
    height: 250px;
    background-image: url("../images/about.svg");
    background-size: auto 175px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  #divider {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 1px;
    align-self: flex-end;
    text-align: center;
  }

  .about-skills {
    width: calc(100% - 10px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
  }

  .about-skills > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
  }

  .style-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .style-1 > .img-3 {
    margin-right: 2px;
  }

  .about-skills-list {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
  }

  #skills {
    padding: 0;
    margin: 0;
  }

  #skill-text {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  /*  works and about section mobile version end */

  /*  contact form mobile section */
  #contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
  }

  #form-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  #contact-form-text {
    margin: 20px 0;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    padding: 15px 0;
  }

  #form-field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  #form-comments-section {
    width: 100%;
    height: auto;
  }

  ::placeholder {
    color: lightgray;
  }

  #comments::placeholder {
    color: #000;
  }

  #form-comments-section > button {
    width: 131px;
    height: 40px;
    align-self: center;
    margin: 15px 15px 40px 15px;
    border: none;
    font-weight: 700;
  }

  input[type=text] {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
  }

  input[type=email] {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 20px 0;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    order: 1;
  }

  #lname {
    display: none;
  }

  #comments {
    border: none;
    width: 100%;
    height: 114px;
    font-size: 17px;
    padding: 20px 0;
    background: #fbf8f7;
  }

  /* contact form mobile section sends */

  /* footer section starts */

  #footer-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-top: 2px solid lightgray;
    margin-top: 450px;
    margin-bottom: 0;
    padding-top: 5px;
    flex-wrap: wrap;
  }

  #footer-section > ul {
    display: flex;
    list-style: none;
    position: relative;
    margin: 10px;
    padding: 0;
  }

  #footer-section > ul > li {
    float: left;
  }

  #divider-1 {
    width: 134px;
    height: 4px;
    margin: 0;
    align-self: center;
  }

  #navbar > #menu {
    display: none;
  }

  /* footer section ends */
}
