* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

#title-text {
  color: #fff;
}

.site-header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: #3e3c3c;
  padding: 0;
}

.site-header > .hamburger {
  display: none;
}

.about-skills > div > h3 {
  margin: 0 0 0 15px;
  padding: 0;
  color: #fff;
}

#title-text > h3 {
  float: left;
  margin: 0;
  padding: 100px;
}

.logo-text {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 1em;
}

#navbar {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar > a {
  display: block;
  width: 70px;
  text-decoration: none;
  height: auto;
  color: white;
  margin: 3px;
}

#home-content {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #1c1a19;
}

.left-content {
  width: 60px;
  height: 100vh;
  color: white;
  margin: 10px 25px 5px 5px;
  padding: 10px 20px 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-version-list {
  list-style-type: none;
  align-self: center;
}

.desktop-version-list > li {
  margin: 2px;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  margin: 5px 10px 15px 10px;
  padding: 40px 10px 120px 15px;
  flex: 1 1 100%;
}

.name-text {
  color: #f55800;
  font-family: 'Crete Round', sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400, regular;
  font-size: 72px;
  line-height: 82px;
  margin: 5px 10px 5px 5px;
  align-self: start;
}

.job-title {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 5px 10px 5px 5px;
}

.job-description {
  color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400, regular;
  align-self: start;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  margin-left: 5px;
}

#skill-text > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 5px;
}

.img-icons {
  width: 25px;
  height: 25px;
  margin: 7px;
  background: white;
  border: 0;
}

#social-icons {
  display: none;
}

.right-content {
  width: 100%;
  height: 100vh;
  transform: rotate(-90deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-2deg);
  margin: 0;
  background-image: url("../images/Illustration-headerpic.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 600px;
}

.mobile-image {
  display: none;
}

.btn {
  color: #fff;
  font-size: 1.5rem;
  border: 0;
  background: 0;
}

@media All And (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    color: #fff;
  }

  .site-header {
    overflow: hidden;
    background: #333;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #title-text > h3 {
    margin: 2px;
    padding: 35px;
  }

  .logo-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
  }

  .site-header > a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .site-header > .hamburger {
    display: block;
    margin: 5px 2em;
    padding-top: 0.5em;
  }

  .icon {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    color: white;
  }

  .icon:hover {
    color: #f55800;
  }

  .site-header > #navbar {
    display: none;
  }

  #home-content {
    width: auto;
    height: auto;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: calc(100vw - 5px);
    height: 100vh;
    background-image: url("../images/Illustration-headerpic.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 300px;
    margin-right: 0;
    padding: 40px 20px 5px 20px;
  }

  .name-text {
    font-family: Crete Round, sans-serif;
    font-size: 56px;
    font-weight: 400, regular;
    line-height: 64px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    margin-bottom: 3px;
  }

  .job-title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin: 5px 0;
    padding: 5px;
    align-self: flex-start;
  }

  .job-description {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400, regular;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 20px 5px 0;
    padding: 0 20px 5px 8px;
  }

  .left-content {
    display: none;
  }

  .right-content {
    display: none;
  }

  #social-icons {
    display: flex;
    justify-content: start;
    align-self: flex-start;
    width: 200px;
    height: 40px;
    padding: 2px 0;
    margin: 0;
  }

  #social-icons > ul {
    display: flex;
    justify-content: start;
    margin-left: 0;
    padding: 0 5px;
    flex: 1 1 25%;
  }

  .list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .img-icons {
    background: 0;
    border: 0;
    margin: 5px;
  }
}
